body {
    background-color: rgb(20, 95, 150);
}

header {
    -webkit-columns: 3;
    -moz-columns: 3;
    -o-columns: 3;
    columns: 3;
    text-align: center;
}

h1 {
    text-align: center;
}

footer {
    -webkit-columns: 5;
    -moz-columns: 5;
    -o-columns: 5;
    columns: 5;
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
    height:180px;
}
